<div id="blog" ng-controller="BlogCtrl as blogCtrl">

	<h3> Trigger warning: </h3>
	<p> Material posted here by your peers may be triggering on topics such as sexual assault and violence. </p>
	<div class="postBox" ng-repeat="post in posts | orderBy: '-date' | filter: customFilter ">
		<div class="timeAndLocation">

			<span class="icon-location"></span>{{post.location}}
 			<span class="time"><span class="icon-time"></span> <span>{{post.date | date:'EEEE, h:mm a'}}</span></span>

		</div>
		<div class="postBody">
			<p>{{post.body}}</p>
            <span ng-repeat-start="tag in post.tags" ng-bind="tag"></span> <span ng-repeat-end></span>
        </div>

		<!--<p>Location: {{post.location}}</p>-->
	</div>

    Filter:
    <select ng-model="selectedLocation" ng-options="location for location in locationOptions">
    </select>

	<form id="sortBy">
		<select>
		  <option value="mostRecent">Most Recent</option>
		  <option value="location">Location</option>
		  <option value="tag">Tag</option>
		</select>
	</form>

	<form ng-show="">
		<!-- show only if sort by == tag -->
		<select>
			<option value="nOMW">#thankYouKindStranger</option>
			<option value="nOMW"> #unCoolDude</option>
			<option value="nOMW"> #notOnMyWatch</option>
		</select>
	</form>

<!-- 	<form>
		ng-repeat building in buildings
	</form> -->

</div>
