<div ng-controller="FormCtrl">

	<h1 id="topPostBox"> What's Going On? </h1>
	<form ng-submit="submit(post)" name="postForm" novalidate id="postForm" class="simple-form">
	    <textarea name="comment" ng-maxlength="140" ng-model="post.body" form="postForm">Enter text here...</textarea>
	    <br />
	    <div id="featTags">Featured Tags: </div>

		<div id="allTags">
			<a ng-click='addTag("#ThankYouKindStranger")'>#ThankYouKindStranger</a>
            <a ng-click='addTag("#Consent")'>#Consent</a>
            <a ng-click='addTag("#YesMeansYes")'>#YesMeansYes</a>
            <a ng-click='addTag("#OnlyWhenIWantIt")'>#OnlyWhenIWantIt</a>
            <a ng-click='addTag("#NotOnMyWatch")'>#NotOnMyWatch</a>
            <a ng-click='addTag("#SexualAssault")'>#SexualAssault</a>
            <a ng-click='addTag("#UnCoolDude")'> #UnCoolDude</a>
            <a ng-click='addTag("#Creepy")'>#Creepy</a>
            <a ng-click='addTag("#PartyCulture")'>#PartyCulture</a>
		</div>
        <br>
      <!-- TRIED TO GET LOCATION WORKING 
        <select ng-model="post.location" ng-options="location for locations in ['Merill','Dakin','Prescott','Enfield']"class="form-control btn btn-default dropdown-toggle" id="dropdownMenu1" aria-haspopup="true" aria-expanded="true"> </select> -->

            <div>
                Location:
                <select data-ng-model="post.location"
                        data-ng-options="location for location in locations">
                </select>
            </div>

        <!--
        <div class="dropdown">

            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Location
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
			    <li><a href="#">Merill</a></li>
			    <li><a href="#">Dakin</a></li>
			    <li><a href="#">Prescott</a></li>
			    <li><a href="#">Enfield</a></li>
			</ul>
		</div>
		-->
		<br>

        <input id="submitButton" type="submit"  value="post" />
    </form>



</div>
