<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Campus Hero</title>

	   <!-- Fonts -->
   	<link href='http://fonts.googleapis.com/css?family=Carrois+Gothic|Reenie+Beanie|Arapey' rel='stylesheet' type='text/css'>
   	<!-- Style sheet -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<!-- ANGULAR -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular-route.js"></script>

	<!-- Graphs -->
    <script src="Chart.js/Chart.js"></script>
    <script src="angular-chart.js/angular-chart.js"></script>
	<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
	<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

	<!-- GOOGLE MAPS -->
	<script src="https://maps.googleapis.com/maps/api/js"></script>

	<!-- MY JAVASCRIPT -->
	<script language="javascript" type="text/javascript" src="app.js"></script>
	<!-- JQUERY -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>

	<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
   	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href='http://fonts.googleapis.com/css?family=Asap' rel='stylesheet' type='text/css'>
<!-- icons -->
	<link rel="stylesheet" href="/campus_font/style.css"></head>

</head>
<body ng-app="myApp">



<div ng-controller="MainCtrl">

		<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar-group">
			<div class="container topbar">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<!-- data-target=".navbar-collapse -->
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" ng-click="function()" href="">Campus Hero</a>
				</div>
				<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li ng-click="goBlog()"><a href="#">Blog</a></li>
						<li ng-click="goMap()"><a href="#">Heat Map</a></li>
						<li ng-click="goStats()"><a href="#">Campus Stats</a></li>
					</ul>
				</div>
			</div>
		</div> <!-- End nav -->


    <div class="container">
				<!-- To get the content below the heading -->
			<div class="bump row">
				<div class="col-xs-12">
				</div>
			</div>
			<div class="row">
		<!-- The About Container on the Left -->
				<!-- <div id="aboutBox" class="col-xs-12 col-md-3">
					<div class="box" ng-include="about">
				    </div>
				</div> -->


				<div ng-show="showMain" id="blogStuff">
					<!-- The input form for new posts -->
					<div id="formBox" class="col-xs-12 col-sm-4 col-sm-push-8">
						 <div class="box" id="form" ng-include="submitForm">
					    </div>
					    <div id="aboutInclude" ng-include="about">
				    	</div>
					</div>
					<!-- The blog of posts -->
					<div id="blog" class="col-xs-12 col-sm-8 col-sm-pull-4">
					    <div class="box" ng-include="blog">
					    </div>

					</div>
				</div>
				<!-- Include map page -->
				<div ng-show="showMap" id="statPage">
					
				</div>
				<!-- Include stats page -->
				<div ng-show="showStats" id="statPage">
					<div class="box" ng-include="stats">
					</div>
                    <div class="col-xs-12">
                        <div ng-controller="BarCtrl">
                            <canvas id="bar" class="chart chart-bar" data="data"labels="labels"></canvas>
                        </div>
                    </div>
                    <div ng-controller="DoughnutCtrl" id="doughnutBox">
						<canvas id="doughnut" class="chart chart-doughnut" data="data" labels="labels"></canvas>
					</div>
				</div>
			</div>
		</div> <!-- End container -->

    </div>
	</div>
	<div id="map-canvas"></div>
		<!-- <div id="map-canvas">dsadsad</div> -->
</body>
</html>
